<h1 class="galerieTitle"> Galerie photos </h1>
<section class="gallery">
    <ul class="items" id="filters">    
        {% for category in collections.categories %}    
        <li class="item active" id="{{thumbnails.data.category}}">
            <a href="{{category.url | url}}">
                {{category.data.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
    
