<header>
    <nav class="navbar navbar-expand-lg bg-custom-color" data-bs-theme="dark">
      <div class="container-fluid">
        <img src="/assets/logo.png" alt="logo" width="50" height="50">
        <button class="navbar-toggler navbar-toggler-icon-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-link ms-5 text-custom-color" aria-current="page" href="/">Accueil</a>
            <a class="nav-link ms-5 text-custom-color" href="/galerie">Galerie</a>
            <a class="nav-link ms-5 text-custom-color" href="/tarifs">Tarifs et prestations</a>
            <a class="nav-link ms-5 text-custom-color" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
</header>