  <div >        
  {% for thumbnails in collections.thumbnails %}
      {% if thumbnails.data.category == category %}                        
      <div class="photo active" id ="gallery" data-category="{{ thumbnail.data.category }}">
        <img src="{{ thumbnail.data.image | url }}" alt="{{ thumbnail.data.name }}">
      </div>
      
      {% endif %}       
  {% endfor %} 
  </div>
</section> 