<div>
  {% for thumbnail in collections.thumbnails %}
  <div class="photo active" id ="gallery" data-category="{{ thumbnail.data.category }}">
    <img src="{{ thumbnail.data.image | url }}" alt="{{ thumbnail.data.name }}">
  </div>
  {% endfor %}
</div>
