---
title: Contact
metaDescription: Charles Cantin, photographe, vous pouvez me joindre facilement pour tous renseignements
layout: layout.njk
backgroundClass: contactPage
---
<h1 class="contactTitle"> Contactez-moi </h1>
  <div class="contactContent">
    <form name="contact" method="POST" data-netlify="true">
      <div class="contactItem">
        <label for="name">Votre nom</label>
        <input type="text" id="name" name="name" placeholder="Votre nom" required>
      </div>
      
      <div class="contactItem">
        <label for="email">Votre email</label>
        <input type="email" id="email" name="email" placeholder="Votre adresse mail" required>
      </div>
      
      <div class="contactItem">
        <label for="message">Votre message</label>
        <textarea rows="10" id="message" name="message" placeholder="Votre message ici" required></textarea>
      </div>
      
      <button type="submit" class="btn">Envoyer</button>
    </form>
  </div>
