---
title: Galerie
metaDescription: Charles Cantin, photographe, mon portfolio
layout: layout.njk
backgroundClass: galeriePage
permalink : /galerie/

---
<div>
  <h1 class="galerieTitle"> Galerie photos </h1>
  <ul class="items" id="filters">
      <li class="item active" id="tout">Tout</li>
      <li class="item" id="mariage">Mariage</li>
      <li class="item" id="famille">Famille</li>
      <li class="item" id="bebe">Bébé</li>
      <li class="item" id="couple">Couple</li>
      <li class="item" id="bapteme">Baptême</li>
      <li class="item" id="grossesse">Grossesse</li>
      <li class="item" id="portrait">Portrait</li>
    </ul>
   
   {% include "gallery.njk" %}
</div>