---
title: Accueil
metaDescription: Charles Cantin, Photographe passionné, je crée les souvenirs de vos joyeux événements à travers mon savoir faire et ma créativité. Photographe Mariage, Grossesse, Famille, Bébé, Baptême,...
layout: layout.njk
backgroundClass : accueilPage
---
<div class="mainPage">
  <h1 class="mainTitle">Charles Cantin</h1>
  <p>Photographe passionné</p>
</div>