--- 
title: Tarifs
metaDescription: Charles Cantin, photographe, profitez de tarifs adaptés à vos besoins
layout: layout.njk
backgroundClass: tarifsPage
permalink : /tarifs/

---

    <h1 class="tarifsTitle">Tarifs et prestations</h1>
    <div class="tarifsContent" >
      {% set prices = collections.prices %}
      
      {% include "prices.njk" %}
    </div>
    
    